@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: rgb(245, 245, 245);
    font-family:'Source Sans Pro', sans-serif;
    color: rgb(35, 35, 35)
}


@keyframes salto {
    from {
        transform: translate(0px, 10px);
    }

    to {
        transform: translate(0px);
    }
}



.mobile {
    width: 90%;
    margin: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none
}

footer {
    width: 100%;
}


/* BARRA */

.inicio {
    height: 100vh;
    background-image: linear-gradient(
        0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
    ,url(../imagenes/fondo_principal-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.eslogan {
    font-family: 'Dancing Script';
    color: white;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eslogan h1 {
    font-size: 3rem;
    font-weight: bold;
}

.eslogan p {
    font-size: 1.5rem;
    text-align: center
}



/* DECADA BAMBINO */



/* PLANTEL */

.plantel {
    text-align: center;
    margin-top: 20px;
    font-size: 1.1rem;
}

.tarjeta-plantel {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
}


/* TITULO DE LA SECCION PLANTEL */


.titulo-seccion h2{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 1.5rem
}

.titulo-seccion p {
    font-size: .85rem;

}

/* TARJETAS DEL PLANTEL */

.imagen_plantel {
    width: 100%;
    max-width: 541px;
    height: 21.7rem;
    background-image: url(../imagenes/plantel-1986.jpg);
    background-size: 100% 21.5em;
    background-repeat: no-repeat;
    background-position: center;
}

.titulares__nombres {
    width: 100%;
    order: 1;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba( 35, 35, 35, .5);
}

.titulares__nombres ul,
.suplentes__nombres ul {
    font-size: .95rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulares__nombres li,
.suplentes__nombres li {
    margin-bottom: 5px;
}

.titulares__nombres a,
.suplentes__nombres a {
    color: rgb(35, 35, 35);
}

.suplentes__nombres {
    width: 100%;
    order: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba( 35, 35, 35, .5);
}



/* SECCION TORNEO NACIONAL */



#torneo-bambino {
    margin-top: 30px;
    border-bottom: 1px solid rgba( 35, 35, 35, .5);
}

.grid_torneo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'titulo'
                         'imagen'
                         'conferencia'
                         'relato';
    row-gap: 15px;
}

.titulo_torneo {
    grid-area: titulo;
    text-align: center;
}

.relato-cam-nac {
    grid-area: relato;
    font-size: .9rem;
}

.contenedor__imagen-campeonato {
    grid-area: imagen;
}

.conferencia {
    grid-area: conferencia;
    font-size: .8rem;
}

/* TITULOS TORNEO */

.titulo_torneo h2 {
    font-size: 1.5rem;
}

.titulo_torneo h3 {
    font-size: 1rem;
}

/* CONTENEDOR IMAGEN */

.contenedor__imagen-campeonato {
    width: 100%;
    height: 21.5rem;
    background-image: url(../imagenes/1986_torneo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

/* ANCLAS RELATO */

.relato-cam-nac p {
    margin-bottom: 10px;
}

.relato-cam-nac a {
    color: rgb(35, 35, 35);
}




/* INICIO DE LA SECCION LIBERTADORES 1986 */




#libertadores-bambino {
    margin-top: 30px;
    border-bottom: 1px solid rgba(35, 35, 35, .5)
}

.grid_libertadores {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'titulo'
                         'imagen'
                         'conferencia'
                         'relato';
    row-gap: 15px;
}

.titulo-libertadores {
    grid-area: titulo;
    text-align: center;
}

.relato-lib-bambino {
    grid-area: relato;
    font-size: .9rem;
}

.contenedor__imagen-lib {
    grid-area: imagen;
}

.conferencia__lib {
    grid-area: conferencia;
    font-size: .8rem;
}

/* CONTENDOR IMAGEN LIBERTADORES */

.contenedor__imagen-lib {
    width: 100%;
    height: 21.5rem;
    background-image: url(../imagenes/river-libertadores-1986.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* TITULO LIBERTADORES */

.titulo-libertadores h2 {
    font-size: 1.5rem;
}

.titulo-libertadores h3 {
    font-size: 1rem;
}

/* RELATO LIBERTADORES */

.relato-lib-bambino p {
    margin-bottom: 10px;
}





/* INICIO DE LA SECCION COPA INTERCONTINENTAL */





#copa-intercontinental {
    margin-top: 30px;
    border-bottom: 1px solid rgba( 35, 35, 35, .5);
}

.contenedor_inter {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.titulo_intercontinental {
    text-align: center;
}

.relato__intercontinental {
    order: 1;
}

.contenedor-imagen {
    width: 100%;
    height: 21.5rem;
    background-image: url(../imagenes/copa_intercontinental.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.relato__intercontinental p {
    margin-bottom: 10px;
}





/* INICIO DE LA SECCION 2018 */

/* INICIO DE LA SECCION PLANTEL */




#container-plantel_2018 {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    border-bottom: 1px solid gray;
}

.titulo_gallardo {
    margin-top: 30px;
}

.tarjeta_plantel_gallardo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    row-gap: 20px;
}

/* TITUTLO PLANTEL */

.titulo_gallardo h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.titulo_gallardo p {
    font-size: .85rem;
}

/* IMAGEN DEL PLANTEL 2018 */

.img_plantel {
    margin-top: 15px;
    width: 100%;
}

.plantel_titular {
    order: 1;
    padding-top: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba( 35, 35, 35, .5);
}

.plantel_suplente {
    order: 2;
    padding-top: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba( 35, 35, 35, .5);
}

.plantel_titular a,
.plantel_suplente a {
    color: rgb(35, 35, 35);
}

.plantel_titular ul,
.plantel_suplente ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plantel_titular li,
.plantel_suplente li {
    margin-bottom: 5px;
}




/* INICIO SECCION SUPERCOPA */




#supercopa {
    margin-top: 30px;
    border-bottom: 1px solid gray;
}

.grid__supercopa {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'titulo'
                         'imagen'
                         'relato';
    row-gap: 15px;
}

.titulo__supercopa {
    grid-area: titulo;
}

.relato-supercopa {
    grid-area: relato;
    font-size: .9rem;
}

.relato-supercopa p {
    margin-bottom: 10px;
}

.contenedor__imagen_relato {
    grid-area: imagen;
    width: 100%;
    height: 21.5rem;
    background-image: url(../imagenes/foto_supercopa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenedor__imagen_supercopa {
    display: none;
}

/* INICIO COPA LIBERTADORES 2018 */


#libertadores-gallardo {
    margin-top: 30px;
    border-bottom: 1px solid gray;
}

.grid_libertadores-gallardo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.titulo__libertadores_gallardo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.relato-lib-gallardo {
    font-size: .9rem;
    order: 2;
}

.relato-lib-gallardo p {
    margin-bottom: 10px
}

.contenedor__img__libertadores {
    width: 100%;
    height: 21.5rem;
    background-image: url(../imagenes/plantel_2018.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    order: 1;
}

.contenedor__parrafo_gallardo {
    order: 3;
    font-weight: bold;
}

.contenedor__parrafo_gallardo P {
    margin-bottom: 10px;
}




/* INICIO DE LA SECCION "NUESTRA HISTORIA" */




.grid-nuestra-historia {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.titulo__historia {
    text-align: center;
}

.contenedor__tarjetas-historia {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.tarjeta__historia {
    width: 100%;
    height: 12rem;
    border: 1px solid black;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.titulo_tarjeta {
    font-size: 1.1rem;
}

.parrafo_historia {
    width: 90%;
    align-items: center;
}

.parrafo_historia {
    display: none;
}

.tarjeta__historia:hover .titulo_tarjeta {
    display: none;
}

.tarjeta__historia:hover .parrafo_historia {
    display: block;
}


/* INICIO DE LA SECCION AMATEUR */


.grid-amateur {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.titulo__amateur {
    text-align: center;
}

.contenedor__tarjetas-amateur {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

/* TARJETAS AMATEUR  */

.tarjeta__amateur {
    width: 100%;
    height: 12rem;
    border: 1px solid black;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.tarjeta__amateur:hover .titulo_tarjeta {
    display: none;
}

.tarjeta__amateur:hover .parrafo_historia {
    display: block;
}



/* INICIO DEL PROFESIONALISMO */



.grid-profesionalismo {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.titulo__profesionalismo {
    text-align: center;
}

.contenedor_tarjeta_pro {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}


/* TARJETAS PROFESIONALISMO */


.tarjeta__profesionalismo {
    width: 100%;
    height: 12rem;
    border: 1px solid black;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.tarjeta__profesionalismo:hover .titulo_tarjeta {
    display: none;
}

.tarjeta__profesionalismo:hover .parrafo_historia {
    display: block;
}



/* INICIO DE LA SECCION DECADA 90 */


.grid-noventa {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.titulo__decada-noventa {
    text-align: center;
}

.contenedor__tarjeta_decada {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

/* TARJETA NOVENTA */

.tarjeta_decada {
    width: 100%;
    height: 12rem;
    border: 1px solid black;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.tarjeta_nueve {
    text-align: center;
}

.tarjeta_decada:hover .titulo_tarjeta {
    display: none;
}

.tarjeta_decada:hover .parrafo_historia {
    display: block;
}


/* INICIO DE LA SECCION DESCENSO */




.grid-descenso {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.titulo__descenso {
    text-align: center;
}

.contenedor__tarjetas_descenso {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

/* TARJETAS DESCENSO */

.tarjeta__descenso {
    width: 100%;
    height: 12rem;
    border: 1px solid black;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.tarjeta_once,
.tarjeta_doce {
    text-align: center
}

.tarjeta__descenso:hover .titulo_tarjeta {
    display: none;
}

.tarjeta__descenso:hover .parrafo_historia {
    display: block;
}



/* INICIO DEL FOOTER */



.pie-de-pagina {
    color: rgb(245, 245, 245);
}

.escudo {
    text-align: center;
    vertical-align: middle;
}

.redes_sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(245, 245, 245)
}

.copy {
    grid-area: copy;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 1.1rem;
}

/* DECORACION FOOTER */

.iconos button {
    font-size: 1.2rem;
    background: none;
    border-style: none;
    color: rgb(245, 245, 245);
}

.iconos i {
    padding: 2px;
}

.iconos button:hover {
    color: rgb(237, 27, 46);
}

.escudo img {
    width: 50px;
}


/* INICIO DE LA PAGINA CONTACTO */


#contacto {
    background-color: rgb(237, 27, 46);
    color: rgb(245, 245, 245);
    height: 100vh;
}

.contenedor__contacto {
    width: 90%;
    margin: 0 auto;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}

.gracias_titulo {
    font-size: 1.2rem;
    text-align: center;
    padding-top: 15px;
}

.contenedor__formularios {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* PRIMER FORMULARIO */




.formulario1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.formulario1 p {
    font-weight: bold;
    font-size: 1.1rem;
}

.formulario1 label {
    font-weight: bold;
}




/* SEGUNDO FORMULARIO */

.formulario2 p {
    font-size: 1.1rem;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 18px;
    font-weight: bold;
}

.formulario2 form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.formulario2 form input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
}

.formulario2 form input:hover {
    background-color: rgba(35, 35, 35, .8);
    color: white;
}

.formulario2 form input[type="submit"] {
    background-color: rgb(12, 12, 12);
    color: rgb(245, 245, 245);
}

.formulario2 form input[type="submit"]:active {
    background-color: rgb(35, 35, 35);
}

.formulario2 form textarea {
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    resize: none;
}

.formulario2 form textarea:hover {
    background-color: rgba(35, 35, 35, .8);
    color: white;
}

#contacto > footer {
    position: absolute;
    bottom: 0;
}



/* INICIO DE LA PAGINA GRACIAS */

.contenedor__gracias {
    margin-top: 80px;
    display: flex;
    align-items: center;
    height: calc(100vh - 176px);
}

.gracias {
    text-align: center;
    margin: 50px;
}

.gracias h1 {
    margin-bottom: 15px;
}

.gracias a {
    color: rgb(35, 35, 35);
}

.registro {
    text-align: center;
}

.registro small {
    font-size: 1rem;
    font-weight: bold;
}

.registro a {
    color: inherit;
}

.registro span {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(237, 27, 46);
}

.contenedor__gracias > footer {
    position: absolute;
    bottom: 0;
}





/* INICIO DE LA PAGINA REGISTRO */





.contenedor__registro {
    height: calc(100vh - 176px);
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registrate {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 20px;
    margin-bottom: 30px;
}

.formulario__registro form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.password {
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.formulario__registro input {
    width: 275px;
    height: 40px;
    border-radius: 5px;
    border: 1.5px solid rgb(12, 12, 12);
    color: black;
}

.formulario__registro input:hover {
    color: rgb(12, 12, 12)
}

.formulario__registro input[type="submit"] {
    background-color: rgb(237, 27, 46);
    color: rgb(245, 245, 245);
    font-weight: bold;
}

.formulario__registro input[type="submit"]:active {
    background-color: rgb(217, 7, 26);
}

/* MEDIA QUERY 1020 (DESKTOP) */



@media (min-width: 1020px) {


    /* RESETEO DESKTOP */

    .titulo-libertadores h2,
    .titulo_torneo h2,
    .titulo_intercontinental h2,
    .titulo__libertadores_gallardo h2,
    .titulo__supercopa h2 {
        font-size: 2rem;
    }


    .titulo-libertadores h3,
    .titulo_torneo h3,
    .titulo_intercontinental h3,
    .titulo__libertadores_gallardo h3,
    .titulo__supercopa h3 {
        font-size: 1.2rem;
    }

    .relato-cam-nac,
    .relato-lib-bambino,
    .relato-lib-gallardo,
    .relato-supercopa,
    .relato__intercontinental {
        font-size: 1rem
    }

    .conferencia,
    .conferencia__lib {
        font-size: 1rem;
    }


    .mobile {
        width: 100%
    }


    .contenedor {
        column-gap: 500px;
    }

    #inicio{
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
        ,url(../imagenes/fondo_principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }


    /* PLANTEL 1986 */
    
    .plantel {
        text-align: center;
        margin-top: 20px;
        font-size: 1.25rem;
    }
    
    .tarjeta-plantel {
        flex-wrap: nowrap;
        align-items: center;
    }

    .titulo-seccion h2 {
        font-size: 2rem;
        margin-top: 50px;
    }


    .imagen_plantel {
        order: 1;
    }

    .titulares__nombres li,
    .suplentes__nombres li {
        padding-bottom: 5px;
    }

    .suplentes__nombres {
        margin-top: 60px;
        order: 2;
    }

    .titulares__nombres li:hover,
    .suplentes__nombres li:hover {
        border-bottom: 1px solid rgb(237, 27, 46);
    }





    /* TORNEO NACIONAL */

    #torneo-bambino {
        background-color: rgb(12, 12, 12);
    }

    .grid_torneo {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: '. . titulo'
                             'relato relato imagen'
                             'relato relato imagen'
                             'conferencia conferencia .';
    }


    .titulo_torneo {
        color: rgb(245, 245, 245);
        text-align: start;
        margin-top: 30px
    }

    .relato-cam-nac {
        color: rgb(245, 245, 245);
        width: 90%;
        margin-right: auto;
    }

    .relato-cam-nac a {
        color: rgb(245, 245, 245);
    }

    .conferencia {
        color: rgb(245, 245, 245);
        padding-bottom: 20px;
    }

    .contenedor__imagen-campeonato {
        height: auto;
        background-size: cover;
        align-self: center;
        background-image: url(../imagenes/1986_torneo.jpg);
    }



    /* INICIO DE LA SECCION LIBERTADORES 1986 */


    .grid_libertadores {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 'titulo titulo .'
                             'imagen relato relato'
                             'imagen relato relato'
                             'conferencia conferencia conferencia';
    }

    .titulo-libertadores {
        text-align: start;
    }

    .relato-lib-bambino {
        width: 95%;
        margin: auto
    }

    .contenedor__imagen-lib {
        align-self: center;
        height: 300px;
    }

    .conferencia__lib {
        padding-bottom: 20px;
    }



    /* INICIO DE LA SECCION INTERCONTINENTAL */


    #copa-intercontinental {
        margin: auto;
        background-color: rgb(237, 27, 46);
        color: rgb(245, 245, 245);
    }


    .titulo_intercontinental {
        padding-top: 50px;
    }

    .contenedor-imagen {
        width: 60%;
        justify-self: center;
    }

    .relato__intercontinental {
        text-align: center;
        margin-bottom: 20px;
    }



    /* SECCION 2018 */



    /* PLANTEL 2018 */
    
    .titulo_gallardo {
        padding-top: 50px;
    }
    
    .tarjeta_plantel_gallardo {
        flex-wrap: nowrap;
        column-gap: 50px;
        text-align: center;
        padding-bottom: 20px;
    }

    .plantel_titular {
        order: 0;
    }

    .plantel_suplente {
        order: 2;
    }

    .img_plantel {
        width: 50%;
        order: 1;
    }

    .tarjeta_plantel_gallardo li {
        padding-bottom: 5px;
    }

    .tarjeta_plantel_gallardo li:hover {
        border-bottom: 1px solid rgb(237, 27, 46);
    }




    /* SECCION SUPERCOPA */

    .grid__supercopa {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: '. . titulo'
                             'relato relato imagen'
                             'relato relato imagen';
        row-gap: 30px;
        padding-bottom: 20px;
    }

    .titulo__supercopa {
        justify-self: start;

    }

    .contenedor__imagen_relato {
        align-self: center;
        height: 300px;
    }

    .relato-supercopa {
        width: 90%;
        margin-right: auto;
    }


    /* LIBERTADORES 2018 */


    #libertadores-gallardo {
        margin: 0;
        padding-top: 50px;
        background-color: rgb(12, 12, 12);
        color: rgb(245, 245, 245);
    }

    .contenedor__img__libertadores {
        height: 300px;
        align-self: center;
    }

    .titulo__libertadores_gallardo {
        text-align: center;
    }

    .relato-lib-gallardo {
        text-align: center;
    }

    .contenedor__parrafo_gallardo {
        padding-top: 20px;
        color: rgb(255, 197, 42)
    }





    /* SECCION NUESTRA HISTORIA */

    .grid-nuestra-historia {
        padding-top: 40px;
    }
    
    .titulo__historia {
        text-align: center;
    }
    
    .contenedor__tarjetas-historia,
    .contenedor__tarjetas-amateur,
    .contenedor_tarjeta_pro,
    .contenedor__tarjeta_decada,
    .contenedor__tarjetas_descenso {
        padding-top: 40px;
        flex-direction: row;
        column-gap: 60px;
    }
    
    .tarjeta__historia {
        width: 100%;
        height: 25rem;
        border: 1px solid black;
        font-size: .8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    }

    .titulo__historia,
    .titulo__amateur,
    .titulo__profesionalismo,
    .titulo__decada-noventa,
    .titulo__descenso {
        font-size: 1.7rem;
    }

    .tarjeta__historia p,
    .tarjeta__amateur p,
    .tarjeta__profesionalismo p,
    .tarjeta_decada p,
    .tarjeta__descenso p {
        align-self: center;
        text-align: center;
        font-size: .9rem;
    }


    /* AMATEUR */


    .grid-amateur {
        padding-top: 60px;
    }

    .tarjeta__amateur {
        width: 100%;
        height: 25rem;
        border: 1px solid black;
        font-size: .8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    }



    /* PROFESIONALISMO */

    .grid-profesionalismo {
        padding-top: 60px;
    }

    .tarjeta__profesionalismo {
        width: 100%;
        height: 25rem;
        border: 1px solid black;
        font-size: .8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    }



    /* DECADA NOVENTA */

    .grid-noventa {
        padding-top: 60px;
    }

    .tarjeta_decada {
        width: 100%;
        height: 25rem;
        border: 1px solid black;
        font-size: .8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    }



    /* DESCENSO */

    .grid-descenso {
        padding-top: 60px;
    }

    .tarjeta__descenso {
        width: 100%;
        height: 25rem;
        border: 1px solid black;
        font-size: .8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    }




    /* PAGINA CONTACTO */

    .contenedor__formularios {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 300px;
    }

    /* INICIO DE LA PAGINA CONTACTO */



    .gracias_titulo {
        font-size: 1.5rem;
        padding-bottom: 30px;
    }

    .contenedor__formularios {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }



    /* PRIMER FORMULARIO */


    .formulario1 {
        row-gap: 8px;
    }

    .formulario1 p {
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
    }


    /* SEGUNDO FORMULARIO */


    .contenedor__formulario2 {
        justify-content: flex-end
    }

    .formulario2 {
        padding: 30px 30px;
        background-color: rgb(12, 12, 12);
    }



    .formulario2 p {
        font-size: 1.5rem;
        padding-bottom: 20px;
    }

    .formulario2 form input {
        width: 300px;
    }

    .formulario2 form input:hover {
        background-color: rgba(217, 7, 26, .8);
        color: white;
    }

    .formulario2 form input[type="submit"] {
        background-color: rgb(237, 27, 46);
        color: rgb(245, 245, 245);
    }

    .formulario2 form input[type="submit"]:active {
        background-color: rgb(217, 7, 26);
    }

    .formulario2 form textarea {
        width: 300px;
    }

    .formulario2 form textarea:hover {
        background-color: rgba(217, 7, 26, .8);
        color: white;
    }



    /* PAGINA GRACIAS */


    .contenedor__gracias {
        margin-top: 80px;
        display: flex;
        align-items: center;
        height: calc(100vh - 176px);
    }
    
    .gracias {
        text-align: center;
        margin: 50px;
    }
    
    .gracias h1 {
        margin-bottom: 15px;
        font-size: 4rem;
    }

    .gracias p {
        font-size: 1.2rem;
    }
    
    .registro {
        text-align: center;
        font-size: 1.1rem;
    }
    
    .registro small {
        font-size: 1.1rem;
        font-weight: bold;
    }
    
    .registro a {
        color: inherit;
    }
    
    .registro span {
        text-transform: uppercase;
        font-weight: bold;
        color: rgb(237, 27, 46);
    }
    
    .contenedor__gracias > footer {
        position: absolute;
        bottom: 0;
    }
    
    
    
    
    
    /* INICIO DE LA PAGINA REGISTRO */
    
    
    
    
    
    .contenedor__registro {
        height: calc(100vh - 176px);
        margin: auto;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .registrate {
        text-align: center;
        font-size: 1.3rem;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    .formulario__registro form {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    
    .password {
        font-size: .8rem;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
    
    .formulario__registro input {
        width: 350px;
        height: 40px;
        border-radius: 5px;
        border: 1.5px solid rgb(12, 12, 12);
        color: black;
    }
    
    .formulario__registro input:hover {
        color: rgb(12, 12, 12)
    }
    
    .formulario__registro input[type="submit"] {
        background-color: rgb(237, 27, 46);
        color: rgb(245, 245, 245);
        font-weight: bold;
    }
    
    .formulario__registro input[type="submit"]:active {
        background-color: rgb(217, 7, 26);
    }
 
}



/* MEDIA QUERY 768PX (TABLET)*/



@media (min-width: 768px) {




    /* BARRA DE NAV */




    .contenedor {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 300px;
    }

    .barra__derecha {
        display: flex;
        flex-direction: row;
    }

    .barra__derecha li {
        padding: 10px;
    }


    /* INICIO */


    #inicio {
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            )
            ,url(../imagenes/fondo_principal-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .eslogan h1 {
        font-size: 3.75rem;
    }

    .eslogan p {
        font-size: 1.5rem;
    }




    /* SECCION PLANTEL 1986 */



    
    .grid_plantel {
        margin-top: 30px;
        border-bottom: 1px solid gray;
    }

    .titulo-seccion h2 {
        font-size: 1.7rem;
    }

    .titulo-seccion p {
        font-size: .9rem;
    }

    .imagen_plantel  {
        height: 30.5rem;
    }

    .tarjeta-plantel {
        text-align: center;
    }

    .titulares__nombres,
    .suplentes__nombres {
        width: calc(50% - 10px);
        border: none;
    }
    


    /* INICIO SECCION TORNEO 1986 */




    .grid_torneo {
        margin-top: 40px;
    }

    .titulo_torneo h2,
    .titulo-libertadores h2,
    .titulo_intercontinental h2 {
        font-size: 1.7rem;
    }
    
    .titulo_torneo h3,
    .titulo-libertadores h3,
    .titulo_intercontinental h3 {
        font-size: 1.2rem;
    }

    .relato-cam-nac,
    .relato-lib-bambino,
    .relato__intercontinental {
        font-size: 1rem;
    }

    .conferencia,
    .conferencia__lib {
        font-size: .9rem;
    }

    .contenedor__imagen-campeonato {
        height: 25rem;
        background-image: url(../imagenes/torneo86_tablet.jpg);
        background-size: cover;
    }




    /* INICIO DE LA SECCION LIBERTADORES 1986 */



    #libertadores-bambino {
        margin-top: 50px;
    }

    .contenedor__imagen-lib,
    .contenedor-imagen {
        height: 25rem;
    }




    /* INICIO DEL PLANTEL 2018 */

    .container-plantel-2018 {
        margin-top: 50px;
    }

    .grid_plantel_2018 {
        border-bottom: 1px solid rgba(35, 35, 35, .5);
        row-gap: 20px;
    }

    .titulo_gallardo h2 {
        font-size: 1.75rem;
    }

    .titulo_gallardo p {
        font-size: .9rem;
    }

    .img_plantel {
        height: 25rem;
    }

    .tarjeta_plantel_gallardo {
        column-gap: 100px;
        padding-bottom: 20px;
    }

    .plantel_titular,
    .plantel_suplente {
        border: none;
    }


    /* SUPERCOPA Y LIBERTADORES 2018 */

    .contenedor__imagen_relato,
    .contenedor__img__libertadores {
        height: 25rem;
    }

    .titulo__supercopa,
    .titulo__libertadores_gallardo {
        font-size: 1.5rem;
    }

    .titulo__supercopa h3,
    .titulo__libertadores_gallardo h3 {
        font-size: 1.2rem;
    }

    .relato-supercopa,
    .relato-lib-gallardo {
        font-size: 1rem;
    }




    /* PIE DE PAGINA */




    .iconos {
        font-size: 1.5rem;
    }

    .iconos i {
        padding: 10px;
    }

    /* INICIO DE LA PAGINA CONTACTO */


    .gracias_titulo {
        font-size: 1.3rem;
        text-align: center;
        padding-top: 15px;
    }


    /* PRIMER FORMULARIO */


    .formulario1 {
        padding-top: 20px;
        row-gap: 5px;
    }

    .formulario1 p {
        font-size: 1.2rem;
    }


    /* SEGUNDO FORMULARIO */

    .formulario2 p {
        font-size: 1.2rem;
        padding-top: 30px;
    }

    #contacto > footer {
        position: absolute;
        bottom: 0;
    }

}





